<h1>Recipes#Index</h1>

<form action="/" method="GET">
	<label for="search_field">Search</label>
	<input id="search_field" type="text" name="query">
	<input type="submit">
</form>

<% if @recipes && !@recipes.empty? %>
    <ul>
    <% @recipes.each do | r | %>
        <li>
        <%= r.name %>
        </li>
    <% end %>
    </ul>
<% else %>
    <h2>BOO!</h2>
<% end %>
